# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/BROWSE.VC.DB
.vscode/BROWSE.VC.DB-shm
.vscode/BROWSE.VC.DB-wal

build/
.vscode/ipch
Arbeitsordner/
sdkconfig
sdkconfig.old
sdkconfig.used
Box/blemqttproxy_3d.skb
make.exe.stackdump
~*.xlsx
putty*.log
anyfile
server_certs/ca_cert.pem
server_certs/ca_key.pem
server_certs/blemqttproxy.bin
.vscode/BROWSE*
log.blemqttproxy.*.txt
