menu "BLE-MQTT Proxy"

    menu "Wifi Configuration"

        config WIFI_SSID
            string "WiFi SSID"
            default "myssid"
            help
                SSID (network name) for the example to connect to.

        config WIFI_PASSWORD
            string "WiFi Password"
            default "mypassword"
            help
                WiFi password (WPA or WPA2) for the example to use.
    endmenu

    menu "Own Watchdog timer (WDT)"

        config WDT_OWN_INTERVAL
            int "Interval in sec for watchdog timer to check."
            default 10
            help
                Set the interval to use for the watchdog timer. Use 0 for no WDT at all.

        config WDT_LAST_SEEN_THRESHOLD
            int "Threshold value in seconds for last seen to determine 'not alive'"
            default 60

        config WDT_REBOOT_LAST_SEEN_THRESHOLD
            int "Reboot if the last seen threshold applies."
            default 1
    endmenu

    menu "Display"

        choice DISPLAY_MODE
            prompt "Display to used"
            default DISPLAY_SSD1306
            help
                Choose which display to use or compile as a headless device.
            config DISPLAY_HEADLESS
                bool "Headless mode"
            config DISPLAY_SSD1306
                bool "SSD1306 Display"
        endchoice #DISPLAY_MODE

        config DISABLE_BUTTON_HEADLESS
            int "Disable button in Headless mode"
            default 1
            range 0 1

        config DISPLAY_IDLE_TIMER
            int "Display idle timer"
            default 60
            range 0 600
            help
                Number of seconds without button to show empty screen, 0 disables idle timer"
    endmenu

    menu "MQTT Configuration"

        config USE_MQTT
            int "MQTT"
            default 1
            range 0 1

        config MQTT_MIN_TIME_INTERVAL_BETWEEN_MESSAGES
            int "Wait time between MQTT messages for same device (sec)"
            default 60
            range 0 3600
            help
                Only send a MQTT message to the same device only once during this time interval.

        config MQTT_HOST
            string "MQTT Broker Host"
            default "iot.eclipse.org"
            help
                MQTT Host to connect to

        config MQTT_BROKER_URL
            string "MQTT Broker URL"
            default "mqtt://iot.eclipse.org"
            help
                URL of the broker to connect to

        config MQTT_PORT
            int "MQTT port"
            default 1883
            help
                TCP port to connect to

        config MQTT_USERNAME
            string "MQTT username"
            help
                MQTT USERNAME

        config MQTT_PASSWORD
            string "MQTT password"
            help
                MQTT password
    endmenu

    config MQTT_FORMAT
        string
        default "/%s/0x%04x/x%04x/%s"
        help
            identifier, maj, min, sensor -> data
    menu "Range of values"
        config TEMP_LOW
            int "Temperature low range"
            default -45
        config TEMP_HIGH
            int "Temperature high range"
            default 120
        config HUMIDITY_LOW
            int "Humidity low range"
            default 0
        config HUMIDITY_HIGH
            int "Humidity high range"
            default 100
        config BATTERY_LOW
            int "Battery low range"
            default 0
        config BATTERY_HIGH
            int "Battery high range"
            default 3300
    endmenu

    menu "BLE Devices"
        menu "Proximity UUID"
            config BLE_UUID_1
                hex "UUID 1"
                default 0x01
            config BLE_UUID_2
                hex "UUID 2"
                default 0x12
            config BLE_UUID_3
                hex "UUID 3"
                default 0x23
            config BLE_UUID_4
                hex "UUID 4"
                default 0x34
        endmenu

        menu "BLE devices"

            config BLE_DEVICE_1
                bool "Set BLE Device 1"
                default y
            config BLE_DEVICE_1_MAJ
                hex "Major value of BLE device 1" if BLE_DEVICE_1
                default 0x07
            config BLE_DEVICE_1_MIN
                hex "Minor value of BLE device 1" if BLE_DEVICE_1
                default 0x01
            config BLE_DEVICE_1_NAME
                string "Name of BLE device 1" if BLE_DEVICE_1
                default "beac1"

            config BLE_DEVICE_2
                bool "Set BLE Device 2"
                default y
            config BLE_DEVICE_2_MAJ
                hex "Major value of BLE device 2" if BLE_DEVICE_2
                default 0x07
            config BLE_DEVICE_2_MIN
                hex "Minor value of BLE device 2" if BLE_DEVICE_2
                default 0x02
            config BLE_DEVICE_2_NAME
                string "Name of BLE device 2" if BLE_DEVICE_2
                default "beac2"

            config BLE_DEVICE_3
                bool "Set BLE device 3"
                default y
            config BLE_DEVICE_3_MAJ
                hex "Major value of BLE device 3" if BLE_DEVICE_3
                default 0x07
            config BLE_DEVICE_3_MIN
                hex "Minor value of BLE device 3" if BLE_DEVICE_3
                default 0x03
            config BLE_DEVICE_3_NAME
                string "Name of BLE device 3" if BLE_DEVICE_3
                default "beac3"

            config BLE_DEVICE_4
                bool "Set BLE Device 4"
                default y
            config BLE_DEVICE_4_MAJ
                hex "Major value of BLE device 4" if BLE_DEVICE_4
                default 0x07
            config BLE_DEVICE_4_MIN
                hex "Minor value of BLE device 4" if BLE_DEVICE_4
                default 0x04
            config BLE_DEVICE_4_NAME
                string "Name of BLE device 4" if BLE_DEVICE_4
                default "beac4"

            config BLE_DEVICE_5
                bool "Set BLE Device 5"
                default y
            config BLE_DEVICE_5_MAJ
                hex "Major value of BLE device 5" if BLE_DEVICE_5
                default 0x07
            config BLE_DEVICE_5_MIN
                hex "Minor value of BLE device 5" if BLE_DEVICE_5
                default 0x05
            config BLE_DEVICE_5_NAME
                string "Name of BLE device 5" if BLE_DEVICE_5
                default "beac5"

            config BLE_DEVICE_6
                bool "Set BLE Device 6"
                default y
            config BLE_DEVICE_6_MAJ
                hex "Major value of BLE device 6" if BLE_DEVICE_6
                default 0x07
            config BLE_DEVICE_6_MIN
                hex "Minor value of BLE device 6" if BLE_DEVICE_6
                default 0x06
            config BLE_DEVICE_6_NAME
                string "Name of BLE device 6" if BLE_DEVICE_6
                default "beac6"

            config BLE_DEVICE_7
                bool "Set BLE Device 7"
                default y
            config BLE_DEVICE_7_MAJ
                hex "Major value of BLE device 7" if BLE_DEVICE_7
                default 0x07
            config BLE_DEVICE_7_MIN
                hex "Minor value of BLE device 7" if BLE_DEVICE_7
                default 0x07
            config BLE_DEVICE_7_NAME
                string "Name of BLE device 7" if BLE_DEVICE_7
                default "beac7"

            config BLE_DEVICE_8
                bool "Set BLE Device 8"
                default y
            config BLE_DEVICE_8_MAJ
                hex "Major value of BLE device 8" if BLE_DEVICE_8
                default 0x07
            config BLE_DEVICE_8_MIN
                hex "Minor value of BLE device 8" if BLE_DEVICE_8
                default 0x08
            config BLE_DEVICE_8_NAME
                string "Name of BLE device 8" if BLE_DEVICE_8
                default "beac8"

            config BLE_DEVICE_9
                bool "Set BLE Device 9"
                default y
            config BLE_DEVICE_9_MAJ
                hex "Major value of BLE device 9" if BLE_DEVICE_9
                default 0x07
            config BLE_DEVICE_9_MIN
                hex "Minor value of BLE device 9" if BLE_DEVICE_9
                default 0x09
            config BLE_DEVICE_9_NAME
                string "Name of BLE device 9" if BLE_DEVICE_9
                default "beac9"

            config BLE_DEVICE_10
                bool "Set BLE Device 10"
                default y
            config BLE_DEVICE_10_MAJ
                hex "Major value of BLE device 10" if BLE_DEVICE_10
                default 0x07
            config BLE_DEVICE_10_MIN
                hex "Minor value of BLE device 10" if BLE_DEVICE_10
                default 0x0A
            config BLE_DEVICE_10_NAME
                string "Name of BLE device 10" if BLE_DEVICE_10
                default "beac10"

        endmenu

        config BLE_DEVICE_COUNT_CONFIGURED
            int "Number of BLE devices configured"
            range 0 10
            default 10 if BLE_DEVICE_10
            default 9 if BLE_DEVICE_9
            default 8 if BLE_DEVICE_8
            default 7 if BLE_DEVICE_7
            default 6 if BLE_DEVICE_6
            default 5 if BLE_DEVICE_5
            default 4 if BLE_DEVICE_4
            default 3 if BLE_DEVICE_3
            default 2 if BLE_DEVICE_2
            default 1 if BLE_DEVICE_1
            default 0

        config BLE_DEVICE_COUNT_USE
            int "Number of BLE devices to use"
            help
                Number of BLE devices to use, must by >= number of BLE devices configured
            range 0 10

        config ACTIVE_BLE_DEVICE_MASK
            int "BLE device active mask"
            help
                Mask which beacons are initially active. This is only used once if the NVS is not yet initialized with the params."
            range 0 1023
            default 1023

        config ACTIVE_BLE_DEVICE_PERSISTANCE
            int "Store active beacon mask (after changes) to NVS"
            range 0 1
            default 0

        config PROXIMITY_RSSI_THRESHOLD
            int "Proximity RSSI Threshold"
            range -80 0
            default -27
            help
                Lower limit for RSSI to initiate an beacon announcement by getting close to the proxy.

    endmenu

    menu "Button"

        config IO_GLITCH_FILTER_TIME_MS
            int "IO glitch filter timer ms (10~100)"
            range 10 100
            default 50

        config LONG_PRESS_TIME
            int "ms to press for a long button press"
            range 0 10000
            default 2000
    endmenu

    menu "Local Sensors"

        config ONE_WIRE_GPIO
            int "OneWire GPIO number"
	        range 0 34
	        default 5
	        help
		        GPIO number (IOxx) to access One Wire Bus.
        		Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used.
        		GPIOs 35-39 are input-only so cannot be used to drive the One Wire Bus.

        config OWB_MAX_DEVICES
            int "Max. number of OnwWireBus devices"
            range 0 8
            default 0

        config LOCAL_SENSORS_TEMPERATURE
            int "Enable local temperature sensor driver (ds18b20)"
            range 0 1
            default 1

        config MENU_MIN_LOCAL_SENSOR
            int "Show the display entry for local sensors only if there are at least X local sensors attached"
            range 0 8
            default 1

    endmenu

    menu "Test functions"

        config DISPLAY_TIME_TEST
            bool "Add extra display screen with tests (currently not in use!)"
            default n
    endmenu
endmenu